<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.chickenhook.binderfuzzy">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MANAGE_ACTIVITY_STACKS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon2"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".reflectionbrowser.RecentsActivity"></activity>
        <activity
            android:name=".fuzzer.ui.FuzzerConsole"
            android:screenOrientation="locked"
            android:exported="true"/>
        <activity
            android:name=".fuzzcreator.FuzzCreator"
            android:screenOrientation="locked"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".reflectionbrowser.ReflectionBrowser"
            android:screenOrientation="locked" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="locked">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>